<a href="https://colab.research.google.com/github/Amarjeet-1998/Amarjeet_Portfolio/blob/main/Python_Test0310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program that prompts the user for two numbers and displays the addition, subtraction, multiplication, and division between them.

In [1]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))



addition = num1 + num2
subtraction = num1 - num2
multiplication  = num1 * num2
division = num1/num2

print("Addition", addition)
print("Subtraction", subtraction)
print("Multiplication", multiplication)
print("Division", division)

Enter the first number: 12
Enter the second number: 23
Addition 35.0
Subtraction -11.0
Multiplication 276.0
Division 0.5217391304347826

2. Write a program that calculates the geometric mean of three numbers entered by the user

In [2]:
import math
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

product = num1 * num2 * num3
geometric_mean = math.pow(product, 1/3)

print("Geometric mean:", geometric_mean)

Enter the first number: 54
Enter the second number: 763
Enter the third number: 123
Geometric mean: 171.76755603227818

3. Write a program that calculates the BMI of an individual,
using the formula BMI = weight / heightÂ²

In [3]:
weight = float(input("Enter your weigt in kilgrams: "))
height = float(input("Enter your height in meters: "))

bmi = weight / (height ** 2)

print("Your BMI is: ", bmi)

Enter your weigt in kilgrams: 54
Enter your height in meters: 32
Your BMI is:  0.052734375

4. Write a program that reads the x and y position of two
points in the Cartesian plane, and calculates the distance
between them.

distance = math.sqrt((x2 - x1) ** 2 + (y2 -y1) ** 2)

In [4]:
x = 5

if x > 10:
  print("x is greater than 10")
elif x > 5:
  print("x is greater than 5 but not greater than 1")
else:
  print("x is 5 or less")

x is 5 or less

In [5]:
year_of_birth = int(input("Enter the year of birth: "))

import datetime
current_year = datetime.datetime.now().year

age = current_year - year_of_birth

if age>= 16:
  print("You are eligible to vote!")
else:
  print("you are not eligible to vote yet.")

Enter the year of birth: 1998
You are eligible to vote!

In [6]:
number = int(input("Enter an integer: "))

if number % 3 == 0 and number % 5 == 0:
  result = "divisible by 3 and 5"
else:
  result = "not divisible by 3 and 5"

# display the result
print(f"The number {number} is {result}.")

Enter an integer: 24
The number 24 is not divisible by 3 and 5.

In [7]:
num1 = int(input("Enter the first number: "))

num2 = int(input("Enter the second number: "))

if num1 % num2 == 0:
  result = 'divisible'
else:
  result = 'not divisible'

print(f"The first number is {result} by the second number.")

Enter the first number: 54
Enter the second number: 34
The first number is not divisible by the second number.

In [8]:
num = 1

while num <= 100:
  if num % 2 == 0:
    print(num)
  num += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [9]:
for num in range(2, 101, 2):
  print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

5. Write a program that displays even numbers 1 to 50 and
odd numbers 51 to 100 using a repeating loop

In [10]:
num = 1

while num <= 100:
  if num <= 50:
    if num % 2 == 0:
      print("Even:", num)
  else:
    if num % 2 != 0:
      print("Odd", num)
  num += 1

Even: 2
Even: 4
Even: 6
Even: 8
Even: 10
Even: 12
Even: 14
Even: 16
Even: 18
Even: 20
Even: 22
Even: 24
Even: 26
Even: 28
Even: 30
Even: 32
Even: 34
Even: 36
Even: 38
Even: 40
Even: 42
Even: 44
Even: 46
Even: 48
Even: 50
Odd 51
Odd 53
Odd 55
Odd 57
Odd 59
Odd 61
Odd 63
Odd 65
Odd 67
Odd 69
Odd 71
Odd 73
Odd 75
Odd 77
Odd 79
Odd 81
Odd 83
Odd 85
Odd 87
Odd 89
Odd 91
Odd 93
Odd 95
Odd 97
Odd 99

6. Create a program that prompts the user for a number and
displays the table of that number using a loop.

In [11]:
for i in range(1, 11):
  for j in range(1, 11):
    product = i * j

    print(i, "x", j, "=", product)

  print("="*20)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
====================
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
====================
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
====================
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
====================
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
====================
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
====================
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
====================
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
====================
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
====================
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
====================

7. Write a program that asks the user for a number N and displays the sum of all numbers from 1 to N.

In [12]:
N = int(input("Enter a number: "))

sum_of_numbers = 0
for num in range(1, N + 1):
  sum_of_numbers += num

print("The sum of numbers from 1 to", N, "is:", sum_of_numbers)

Enter a number: 54
The sum of numbers from 1 to 54 is: 1485

In [13]:
sum_of_evens = 0

num = 2

while num<= 100:

  sum_of_evens += num

  num += 2

print("The sum of even numbers from 1 to 100 is:", sum_of_evens)

The sum of even numbers from 1 to 100 is: 2550

In [14]:
base = int(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))

result = 1
for _ in range(1, exponent + 1):
  result *= base

print("The result of", base , "raised to the power of", exponent, "is:", result)

Enter the base number: 54
Enter the exponent: 3
The result of 54 raised to the power of 3 is: 157464

In [15]:
number = int(input("Enter a number: "))

if number < 2:
  is_prime = False
else:
  is_prime = True

  for i in range(2, int(number ** 0.5) + 1):
    if number % i == 0:
      is_prime = False
      break

if  is_prime:
  print(number, "is a prime Number")
else:
  print(number, "is not a prime number")

Enter a number: 66
66 is not a prime number

7. Write a program that prompts the user for a number N and
displays all prime numbers less than N.

In [17]:
n = int(input("Enter a number: "))

for num in range(2, n):
  is_prime = True

  for i in range(2, int(num** 0.5) + 1):
    if num % i == 0:
      is_prime = False
      break

  if is_prime:
    print(num, end=" ")

print()

Enter a number: 45
2 3 5 7 11 13 17 19 23 29 31 37 41 43

8. Create a program that displays the first N first perfect
squares, where N is informed by the user, using a loop

In [18]:
N = int(input("Enter the value of N: "))

count = 0
num = 1

while count < N:
  square = num ** 2

  print(square, end =" ")
  count += 1

  num += 1
print()

Enter the value of N: 45
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025

In [19]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

start = min(A, B)
end = max(A, B)

for num in range(start, end + 1):
  print(num, end= " ")

print()

Enter the value of A: 23
Enter the value of B: 43
23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43

10. Write a program that prompts the user for a number and
displays the Fibonacci sequence up to the given number using a
repeating loop

In [20]:
number = int(input("Enter a number: "))

previous_number = 0
current_number = 1

print("Fibonacci sequence up to", number, ":")
print(previous_number, end=" ")

while current_number <= number:
  print(current_number, end =" ")

  next_number = previous_number + current_number

  previous_number = current_number
  current_number = next_number

Enter a number: 45
Fibonacci sequence up to 45 :
0 1 1 2 3 5 8 13 21 34

11. Write a program that prompts the user for a sentence and
displays the number of vowels in the sentence.

In [21]:
sentence = input("Enter a sentence: ")

vowel_count = 0

for char in sentence:
  char_lower = char.lower()

  if char_lower  in 'aeiou':
    vowel_count += 1

print("Number of vowels:", vowel_count)

Enter a sentence: We are in the room and keys will disapper
Number of vowels: 13

12. Write a program that prompts the user for a number and
displays its divisors

In [22]:
number = int(input("Enter a number: "))

print("DIvisors of", number, ":")
for i in range(1, number+1):
  if number % i == 0:
    print(i)

Enter a number: 87
DIvisors of 87 :
1
3
29
87