<a href="https://colab.research.google.com/github/Amarjeet-1998/Amarjeet_Portfolio/blob/main/Recommedation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##Import Libraries
import pandas as pd

In [2]:
dataset=pd.read_csv("data.csv")

In [3]:
dataset.head()

                                 Name  ...                                        Discription
0                        Pulp Fiction  ...  \nThe lives of two mob hitmen a boxer a gangst...
1            The Amazing Spider-Man 2  ...  \nWhen New York is put under siege by Oscorp i...
2            The Shawshank Redemption  ...  \nTwo imprisoned men bond over a number of yea...
3  Star Wars: Episode IV - A New Hope  ...  \nLuke Skywalker joins forces with a Jedi Knig...
4                  Back to the Future  ...  \nMarty McFly a 17-year-old high school studen...

[5 rows x 10 columns]

In [4]:
dataset.shape

(9937, 10)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9937 entries, 0 to 9936
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            9937 non-null   object
 1   Year            9754 non-null   object
 2   Stars           9725 non-null   float64
 3   Score           6145 non-null   float64
 4   Time            9722 non-null   object
 5   Votes           9736 non-null   object
 6   Total           6892 non-null   object
 7   Tags            9929 non-null   object
 8   Directors_Cast  9853 non-null   object
 9   Discription     6145 non-null   object
dtypes: float64(2), object(8)
memory usage: 776.5+ KB

Only stars and score are in float rest are objects

In [6]:
def important_features(dataset):
    data=dataset.copy()
    for i in range(0, dataset.shape[0]):
        data["imp"]=data["Name"]+' '+data["Directors_Cast"]+" "+data["Tags"]
    return data

In [7]:
data=important_features(dataset)

In [8]:
data.head()

                                 Name  ...                                                imp
0                        Pulp Fiction  ...  Pulp Fiction Quentin Tarantino John Travolta U...
1            The Amazing Spider-Man 2  ...  The Amazing Spider-Man 2 Marc Webb Andrew Garf...
2            The Shawshank Redemption  ...  The Shawshank Redemption Frank Darabont Tim Ro...
3  Star Wars: Episode IV - A New Hope  ...  Star Wars: Episode IV - A New Hope George Luca...
4                  Back to the Future  ...  Back to the Future Robert Zemeckis Michael J. ...

[5 rows x 11 columns]

In [9]:
data["ids"]=[i for i in range(0,data.shape[0])]

In [10]:
##Importing vectoriser

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
vec=TfidfVectorizer()

In [12]:
vecs=vec.fit_transform(data["imp"].apply(lambda x: np.str_(x)))

In [13]:
vecs.shape

(9937, 20994)

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
sim=cosine_similarity(vecs)

In [16]:
sim.shape##Columns represnt movie-ids and not rows

(9937, 9937)

In [17]:
sim[100][100]

1.0

In [18]:
def recommend(title):
    movie_id=data[data.Name==title]["ids"].values[0]
    scores=list(enumerate(sim[movie_id]))
    sorted_scores=sorted(scores,key=lambda x:x[1],reverse=True)
    sorted_scores=sorted_scores[1:]
    movies=[data[movies[0]==data["ids"]]["Name"].values[0] for movies in sorted_scores]
    return movies

In [19]:
def recommend_ten(movie_list):
    first_ten=[]
    count=0
    for movie in movie_list:
        if count > 9:
            break
        count+=1
        first_ten.append(movie)
    return first_ten

In [23]:
lst=recommend("Back to the Future")
m=recommend_ten(lst)

In [24]:
m

['Back to the Future Part II',
 'Back to the Future Part III',
 'Beowulf',
 'The Polar Express',
 '9',
 'SpaceCamp',
 'Who Framed Roger Rabbit',
 'Ivan Vasilievich: Back to the Future',
 'Dead Man',
 'Chasers']